{% extends "base.html" %}

{% block title %}
Edit Post
{% endblock %}

{% block content %}
<h1>Edit Post</h1>
<form action="/posts/{{post.id}}/edit" method="POST">
Title <input type="text" name="title" value="{{post.title}}">
<br>
<br>
Content <textarea name="content">{{post.content}}</textarea>
<br>
<br>
Tags:
{% for tag in tags %}
{% if tag in post.tags %}
<input type="checkbox" name="tag" checked value="{{tag.id}}">{{tag.name}}
{% else %}
<input type="checkbox" name="tag" value="{{tag.id}}">{{tag.name}}
{% endif %}
{% endfor %}
<br>
<br>
<a><button>Save</button></a>
</form>
<br>
<a href="/posts/{{post.id}}"><button>Cancel</button></a>
{% endblock %}